#!/bin/bash

/usr/sbin/slapcat \
    -n${LDIF_BACKUP_DBNUM} \
    > ${LDIF_BACKUP_DIR}/${LDIF_BACKUP_FILE_PREFIX}-`date +%F-%H.%M.%S`.ldif \
    && /bin/bzip2 ${LDIF_BACKUP_DIR}/${LDIF_BACKUP_FILE_PREFIX}-`date +%F-%H.%M.%S`.ldif
